{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    文章内容
{% endblock %}

{% block content %}
    {% with total_likes=article.users_like.count users_like=article.users_like.all %}
    <div class="container">
    <header>
        <h1>{{ article.title }}</h1>
        <p>
            {{ article.author.username }}
            <span style="margin-left:20px;" class="glyphicon glyphicon-thumbs-up">{{ total_likes }}like{{ total_likes|pluralize }}</span>
            <span style="margin-left:20px;" class="glyphicon glyphicon-thumbs-up">查看{{ total_views }}次数</span>
        </p>
    </header>
    <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}">
    <div id="editormd-view">
        <textarea id="append-test" style="display: none;">
            {{ article.body }}
        </textarea>
    </div>
    <div>
        <p class="text-center">
            <a onclick="like_article({{ article.id }},'like')" href="#">点赞</a>
            <a onclick="like_article({{ article.id }},'unlike')" href="#">不喜欢</a>
        </p>
    </div>
    <div>
        <p class="text-center"><strong>点赞本文的读者</strong></p>
        {% for user in users_like %}
            <p class="text-center">{{ user.username }}</p>
            {% empty %}
             <p class="text-center">还没有人对文章表态</p>
        {% endfor %}
    </div>
    </div>
    <script type="text/javascript">
    function like_article(id,action){

        $.ajax({
            url:"{% url 'article:like_article' %}",
            type:"POST",
            data:{"id":id,"action":action},
            success:function (e) {
                if (e=="1"){
                    layer.msg("感谢点赞");
                    window.location.reload();
                }else {
                    layer.msg("感谢评论");
                    window.location.reload();
                }

            }
        });
    }
    </script>
    {% endwith %}
{% endblock %}