{% extends "base.html" %}
{% block title %}密码重置{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
      <h1>请重置密码</h1>
      <p>填写你的邮件重置密码</p>
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">Email</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="发送邮件" class="btn-primary btn btn-lg">
    </form>
    </div>
{% endblock %}