{% extends "article/base.html" %}
{% load staticfiles %}
{% block title %}文章列表{% endblock %}
{% block content %}
<div>
<table class="table table-hover">
    <tr><td>序号</td><td>标题</td><td>栏目</td><td>操作</td></tr>
    {% for article in articles %}
    <tr><td>{{ forloop.counter }}</td><td><a href="{% url 'article:arcticle_detail' article.id %}">{{ article.title }}</a></td><td>{{ article.column }}</td><td><a name="edit" href="{% url 'article:redit_article' article.id%}"><i class="fa  fa-pencil-square-o"></i> </a> <a name="delete" href="javascript:" onclick="del_article(this,{{ article.id }})"><i class="fa  fa-trash-o"></i> </a></td></tr>
    {% endfor %}
</table>
{% include "paginator.html" %}
</div>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script type="text/javascript">
       function del_article(e,columnid) {
             var name = $(e).parents("tr").children("td").eq(1).text();
             var index =layer.open({
                 type:1,
                 skin:"layui-layer-rim",
                 area: ["400px","200px"],
                 title: "删除栏目",
                 content: '<div class="text-center" style="margin-top:20px"><p>确定删除该文章？</p><p>"'+name+'"</p></div>',
                 btn:["确定","取消"],
                 yes:function (index ,lay) {
                     new_name =$("#new_name").val();
                       $.ajax({
                         url:'{% url "article:del_article" %}',
                         type:'POST',
                         data:{'column_name':new_name,'article_id':columnid},
                         success:function (e) {
                             if (e=="1"){
                                 parent.location.reload();
                                 layer.msg("删除成功");
                         }
                         else {
                                 layer.msg("删除失败");
                             }
                         }

                     })

                 }

             })
         }




    </script>
{% endblock %}